.game-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding-top: calc(var(--bs-gutter-x) * 0.1);
  padding-bottom: calc(var(--bs-gutter-x) * 0.1);
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  object-fit: contain;
}

.col {
  padding-left: calc(var(--bs-gutter-x) * 0.1) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.1) !important;
}

/* Внутренний контейнер с анимацией */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* При классе flipped карточка переворачивается */
.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Лицевая и оборотная стороны */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-front {
  transform: rotateY(0deg); /* Лицевая сторона */
}

.card-back {
  transform: rotateY(180deg); /* Оборотная сторона */
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/* Таймер */
.timer {
  background: #fff;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: inline-block;
  min-width: 140px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Стили для игрового поля */
#gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.col-custom-8 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
  padding-left: calc(var(--bs-gutter-x) * 0.1) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.1) !important;
}